{% extends "base.html" %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <p>{{ post.post }}</p>
      <p>Posted on: {{post.date }}</p>
      <p>Votes: {{ post.votes }}</p>
      <a href="#"><i class="fa fa-arrow-circle-up fa-3x fa-fw"></i></a>
      <a href="#"><i class="fa fa-arrow-circle-down fa-3x fa-fw"></i></a>
    </div>
  </div>
</div>



<div class="comment-form">
    {% if user.is_authenticated %}
    <h2>Add Comment<h2>
    <form action="{% url 'home:add_comment' post.id %}" method="POST" class="comment-form">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <button type="submit" class="btn btn-primary">Add Comment</button>
    </form>
    {% endif %}
</div>


<h2>Comments</h2>
{% for comment in post.comment_set.all %}
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <p>Comment: {{ comment.comment }}</p>
      <p>Votes: {{ comment.votes }}</p>
      <a href="#">Vote up</a>
      <a href="#">Vote Down</a>
      <p>Posted on: {{comment.date }}</p>
    </div>
  </div>
</div>
{% endfor %}




{% endblock %}
