{% extends "base.html" %}
{% block content %}
{% if post_list %}
  {% for post in post_list %}
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <p>{{ post.post }}</p>
        <!-- TODO  Sort out these up and down arrows and make them look sweet!-->
        <a href="#"><i class="fa fa-arrow-circle-up fa-3x fa-fw"></i></a>
        <a href="#"><i class="fa fa-arrow-circle-down fa-3x fa-fw"></i></a>

        <a href="{% url 'home:detail' post.id %}" class="btn btn-primary"><i class="fa fa-comments fa-fw"></i>(Num) Add Comment</a>
        <!-- TODO If the current user is equal to the user that created the post add a delete button-->
        <a href="{% url 'home:detail' post.id %}" class="btn btn-danger"><i class="fa fa-remove fa-fw"></i>Delete Post</a>
      </div>
    </div>
  </div>
  {% endfor %}

{% else %}
  <p>There are no posts</p>
  <p>Check back later</p>
{% endif %}
{% endblock %}
