{% extends "base.html" %}
{% block content %}
<h1>Man is least himself when he talks in his own person. Give him a mask, and he will tell you the truth - Oscar Wilde</h1>
<h3>Recent Posts</h3>
{% if post_list %}
  {% for post in post_list %}
  <p>Id: {{ post.id }}</p>
  <p>Post: {{ post.post }}</p>
  <p>User: {{post.user.username }}</p>
  <p><a href="{% url 'home:detail' post.id %}">More</a></p>
  {% endfor %}

{% else %}
  <p>There are no posts</p>
  <p>Check back later</p>
{% endif %}
{% endblock %}
