{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <h1>Grapevine</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Man is least himself when he talks in his own person. Give him a mask, and he will tell you the truth.</h3>
    <p> - Oscar Wilde</p>
  </div>
</div>


<div class="row jumbotron">
  <div class="col-md-6 text-center">
      <h3>If you have already registered please login</h3>
      <a href="{% url 'account:login' %}" class="btn btn-success"><i class="fa fa-sign-in fa-fw"></i>Login</a>
      <!-- TODO See if I can include the Login form -->
  </div>

  <div class="col-md-6 text-center">
      <h3>If you have an invite key please hit register</h3>
      <a href="{% url 'account:register' %}" class="btn btn-warning">Register</a>
      <!-- TODO See if I can include the Register form -->
  </div>

</div>
{% endblock %}
