h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.25em;
}

p {
  font-size: 0.75em;
}

.wrap {
  padding-top: 60px;
}

/* Custom form style */
.grapevine-form {
  padding-top: 60px;
  max-width: 75%;
  margin: auto;
  padding: 5%;
  background-color: green;
}

.jumbotron {
  max-width: 80%;
  margin: auto;
  margin-bottom: 20px;
  color: #FFFFFF;
  background-color: #303030;
}
