<!-- TODO  Tomorrow set up the form to look more like the form from this page:
http://fontawesome.io/examples/     Down the bottom. Do the icons like they have it.
This will require a complete form overhaul as we will no longer be using labels-->

{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>The penetration of society by the Internet and the penetration of the Internet by society is the best thing that has ever happened to global human civilisation.</h1>
    <p>- Julian Assange</p>
  </div>
</div>

<div class="jumbotron">
  <form class="form-horizontal" role="form" method="POST" action=".?next={{ redirect_to }}">
    {% csrf_token %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
   <div class="form-group">
     <label class="control-label col-sm-2" for="username">Username</label>
     <div class="col-sm-10">
       <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username">
     </div>
   </div>

   <div class="form-group">
     <label class="control-label col-sm-2" for="password">Password</label>
     <div class="col-sm-10">
       <input type="password" class="form-control" name="password" id="password" placeholder="Enter password">
     </div>
   </div>

   <div class="form-group">
     <div class="col-sm-offset-2 col-sm-10">
       <div class="remember_me">
         <label><input type="checkbox"> Remember me</label>
       </div>
     </div>
   </div>

   <div class="form-group">
     <div class="col-sm-offset-2 col-sm-10">
       <button type="submit" class="btn btn-primary">Log In</button>
     </div>
   </div>
  </form>
</div>
{% endblock %}
